body {
	height: calc(100vh - 110px);
}

#main_part {
	min-height: 100%;
}

#blog_footer {
	min-height: 60px;
}

#pagination {
	margin-bottom: 35px;
}

select[name="language"] {
	margin-right: 15px;
}

/* google map */
#map_wrapper_div {
	height: 400px;
	width: 740px;
	margin-bottom: 25px;
	position: relative;
	overflow: hidden;
}

div#map {
	width: 100%;
	height: 100%;
}
div#map_panel {
	position: absolute;
	height: 400px;
	background-color: gainsboro;
	width: 250px;
	overflow: hidden;
	z-index: 10600;
}

div.info_content {
	margin: 15px;
}

/* contact form */
.ajax-contact-form label {
	font-weight: 700;
	text-align: right;
}

.ajax-contact-form .form-control:focus {
	border-bottom: 1px solid #fa7806;
	box-shadow: none;
}

.ajax-contact-form .tooltip {
    position: absolute;
    display: block;
    font-size: 12px;
	line-height: 1.4;
	opacity: 0.9;
	font-weight: 600;
}

.ajax-contact-form .tooltip span {
	position: relative;
	width: 100%;
	color: #ffffff;
	background: rgba(227, 29, 36, 0.8);
	line-height: 18px;
	text-align: center;
	border-radius: 4px;
	bottom: 60px;
	margin: 0 auto;
	display: block;
	padding: 2px 5px;
}

.ajax-contact-form .tooltip span::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: rgba(227, 29, 36, 0.8) transparent transparent transparent;
  }

  .tooltip span#google-captcha {
	bottom: 85px;
  }

  #h-coffee {
	  font-size: 22px;
	  line-height: 1.5em;
	  font-weight: bolder;
	  margin-top: 20px;
  }

  p.error-valid {
	font-size: 14px;
	color:#ea4444;
	margin-bottom: 21px;
	display: block;
  }

  #form_responce {
	  display: none;
  }
